{block title}Nabídka produktů{/block}

{block content}

    <h2 class="mb-5 mt-5 h1 section-title fw-bolder">Nabídka produktů</h2>
    <form action="" class="mb-4">
        <input type="text" class="text-primary">
        <button class="btn-outline-dark btn">Hledat🔍</button>
    </form>

    <!-- Zde se mi vypisujou všechny produkty jako karty -->

    <section class="d-flex justify-content-around align-baseline gap-5 flex-wrap product-list">
        <div n:foreach="$products as $product">
            <!-- <h2><a href="{link Item:show $product->id}">{$product->creation_date}</a></h2> -->
            <div class="card border-1 rounded-3 product-card" style="width: 18rem;">
                <div class="card-image">
                    <img src="{$basePath}/assets/images/{$product->images}/card_img.png" alt="Logo">
                </div>
                <div class="card-body">
                    <a n:href="Item:show $product->id"><h5 class="card-title">{$product->name}</h5></a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Rating {$product->star_rating|truncate:256}/5</li>
                    <li class="list-group-item"><p>Prodejce: <a n:href="SellerPortfolio:portfolio $product->seller_id" class="card-link">{$product->seller->name}</a></p></li>
                </ul>
            </div>
        </div>
    </section>

{/block}