{block content}

<h3>Vytvoření profilu prodejce</h3>

<form action="">
    <div>
        <label for="portfolioName">Jméno na portfoliu: </label>
        <input type="text" min="5" max="20" id="portfolioName">
    </div>
    <div>
        <label for="portfolioSlogan">Slogan portfolia: </label>
        <input type="text" id="portfolioSlogan" min="20" max="40">
    </div>
    <div>
        <label for="portfolioDesc">Popisek portfolia: </label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <button class="btn btn-primary">Potvrdit a vytvořit</button>
</form>

{/block}